*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: roboto;
}
.hero-container{
        background-color: #1F2937 ;
        color: white;

}
.container{
    height: 100vh;
    padding: 0 200px;
}
header{
   padding: 32px 0;    
}
h1{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul{
    display: flex;
}
nav>ul>li{
    padding: 12px;
}
nav a{
    color: white;
}


/*hero*/

.hero-image {
    width: 100%;
}

.hero{
    display: flex;
    padding: 100px 0;
}
.left-hero, .right-hero{
    flex: 1;
}
.left-hero{
    margin-right: 100px;
}
h2{
    padding-bottom: 32px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-p{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-btn{
    padding: 12px 32px;
    font-size: 18px;
    margin: 15px 0;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: #F9FAF8;
    cursor: pointer;
}

/*info*/

.info-container{
    padding: 200px ;
    text-align: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.box-image{
    height: 200px;
    width: 200px;
    border: #3882F6 5px solid;
    border-radius: 10px;
    margin: 32px auto;
}
.info{
    display: flex;
    justify-content: space-around;
}
.info-box{
    width: 200px;
}
.box-text{
    font-size: 18px;
    color: grey;
    font-weight: 500;
}

/*quote section*/

.quote-container{
    background-color: #E5E7EB;
    height: auto;
}

.quote{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}
q{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}
.thor{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 900;
}