*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: roboto;
}
.container{
        background-color: #1F2937 ;
        height: 100vh;
        padding: 0 200px;
        color: white;

}
header{
   padding: 32px 0;    
}
h1{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul{
    display: flex;
}
nav>ul>li{
    padding: 8px;
}
nav a{
    color: white;
}


/*hero*/

.hero-image {
    width: 100%;
}

.hero{
    display: flex;
    padding: 100px 0;
}
.left-hero, .right-hero{
    flex: 1;
}
.left-hero{
    margin-right: 24px;
}
h2{
    padding-bottom: 50px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-p{
    font-size: 18px;
    color: #E5E7EB;
}
.hero-btn{
    padding: 12px 24px;
    font-size: 18px;
    margin: 15px 0;

}